@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Mulish', sans-serif
}

.no-focus *:focus-visible {
    border: 0;
    outline: 0;
}

.accordion {
    --bs-accordion-active-bg: var(--bs-danger-bg-subtle);
}

a {
    text-decoration: none;
}

.circle {
    z-index: 1000;
    animation: latido linear 3s infinite;
}

.circleAzul {
    z-index: 1000;
    animation: latidoAzul linear 3s infinite;
}
.carousel-item {
    height: auto !important;
}

@keyframes latido {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 0, .8);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(0, 255, 0, .6);
    }
}

@keyframes latidoAzul {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, .8);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(0, 0, 255, .6);
    }
}

.parallax {
    background-image: url("https://github.com/LuKodo/BohioPage/blob/main/src/assets/img/bohio-pasos-proceso-digital-background.jpg?raw=true");

    min-height: 200px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 ::-webkit-scrollbar {
     width: 10px;
 }

::-webkit-scrollbar-thumb {
    background: #bb0000;
}

::-webkit-scrollbar-thumb:hover {
    background: #bb0000;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
    background: #e4e4e4;
}

.subIndex {
    vertical-align: sub; /* Mueve el texto hacia abajo */
    font-size: 0.8em; /* Reduce el tamaño del texto */
}

.supIndex {
    vertical-align: super; /* Mueve el texto hacia arriba */
    font-size: 0.8em; /* Reduce el tamaño del texto */
}

